@{
  Layout = "_Layout";
}

@model RecordStore.Models.Artist

<h4 class="title">Add a new Artist</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.Label("Select Album")
  @Html.DropDownList("AlbumId")

  <input type="submit" value="Add new Artist" class="list__link btn btn-outline-dark" />
}
<p class="btn btn-dark btn-block">@Html.ActionLink("Show all Artists", "Index")</p>