@{
  Layout = "_Layout";
}

@model RecordStore.Models.Album

<h2>Album Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>

<p>@Html.ActionLink("Edit Album", "Edit", new { id = Model.AlbumId })</p>

<p>@Html.ActionLink("Delete Album", "Delete", new { id = Model.AlbumId })</p>

<p>@Html.ActionLink("Back to list", "Index")</p>