@* @{
  Layout = "_Layout";
}

@model RecordStore.Models.Album

<h2 class="title">Edit</h2>

<h4>Edit this album: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.AlbumId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    <input type="submit" value="Save" class="list__link btn btn-outline-dark" />
}
<br/>
<p class="btn btn-dark btn-block">@Html.ActionLink("Back to list", "Index")</p> *@